<nav class="navbar navbar-expand-sm fondo py-0">
    <div class="container bg-light mx-auto py-2">

        <a routerLink="" class="navbar-brand mx-2">
            <img class="parpadea" src="../../../assets/Logo_HP.png" width="300px" alt="Logo" />

        </a>

        <div class="navbar-brand text-info">
            <div class="row">
                <div class="col">
                    <p>
                        Contáctanos<img src="../../../assets/WS.png" style="width: 20px" alt="Whatsapp" />
                    </p>
                    <p class="telefono mx-0">
                        WP: +57 304 533 0782<br /> CEL: 301 656 3691
                    </p>
                </div>

                <div class="col mx-2">
                    <div class="row mt-2">
                        <div class="col-2">
                            <a href="https://www.facebook.com/hassan.palma" class="me-1" target="_blank">
                                <img src="../../../assets/facebook.png" style="width: 35px" alt="Facebook" />
                            </a>
                            <a href="http://twitter.com/hassanpalma1" class="me-1" target="_blank">
                                <img src="../../../assets/twitter.png" style="width: 35px" alt="Twitter" />
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2">
                            <a href="http://instagram.com" class="me-1" target="_blank">
                                <img src="../../../assets/instagram.png" style="width: 35px" alt="instagram" />
                            </a>
                            <a href="https://www.linkedin.com/in/hassan-palma-52a440194/" class="me-0" target="_blank">
                                <img src="../../../assets/lincked.png" style="width: 35px" alt="Linckedin" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>