<nav class="navbar navbar-expand-sm bg-light py-0">

    <button class="navbar-toggler mx-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">



        <div class="container fondo py-2">
            <div class="container text-center">
                <div class="row">




                    <div class="col">
                        <div class="inicio">
                            <a routerLink="/" class="navbar-brand text-light">HOME</a>
                        </div>
                    </div>

                    <div class="col">
                        <div class="servicios">
                            <a routerLink="servicios" class="navbar-brand text-light">SERVICIOS</a>
                        </div>
                    </div>

                    <div class="col">
                        <div class="quien">
                            <a routerLink="quien" class="navbar-brand text-light">QUIENES SOMOS</a>
                        </div>
                    </div>

                    <div class="col">
                        <div class="contacto">
                            <a routerLink="contacto" class="navbar-brand text-light">CONTACTO</a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</nav>