<h1 class="text-center mx-5 bg-dark text-light mb-1">Quienes somos</h1>





<nav class="navbar navbar-expand-sm fondo m-0 py-0 px-0">
    <div class="container-fluid m-0 p-0">
        <div class="container mx-auto text-light ">

            <div>

                <div class="row">


                    <div class="col border text-light bg-dark m-1">

                        <p class="p-1 my-2">
                            Hola, soy <span class="text-info">Hassan Palma</span>, ingeniero electrónico, tecnico electricista y desarrolador de software, desde el año 2005 junto con mi equipo de trabajo, presto servicios como profesional independiente,
                            para satisfacer las necesidades de nuestros clientes en cuanto a instalaciones, mantenimiento, nuevos proyectos y proyectos de mejora, sabiendo que la mejor manera para conseguir el cumplimiento de nuestras metas es el trabajo
                            en equipo, juntos hemos consolidado una familia de colaboradores en distintas áreas de proyectos y mantenimiento para poder ser su mejor opción.<br><br> Somos una empresa comprometida con sus clientes, capaz de afrontar los
                            retos que impone el medio, con un excelente talento humano desarrollador de ingeniería y adaptable a cualquier tipo de estructura empresarial.<br>

                    </div>
                    <div class="col border bg-dark m-1">

                        <img class="p-2" src="../../../assets/quienes.webp" alt="ingenieros">

                    </div>
                </div>

                <div class="row">

                    <div class="col">

                        <h1 class="col border text-light bg-dark p-2 mt-4 mb-0 text-center">MISIÓN</h1>
                        <p class="col border text-light bg-dark p-2 mt-0-">
                            Prestar servicios en generación, desarrollo y ejecución de proyectos ademas de mantenimiento preventivo y correctivo, montajes y diseño de proyectos con la mayor idoneidad, tecnología y calidad, con la finalidad de contribuir en el desarrollo y mantenimiento
                            de las empresas que así lo requieran
                        </p>

                    </div>

                    <div class="col">

                        <h1 class="col border text-light bg-dark p-2 mt-4 mb-0 text-center">VISIÓN</h1>
                        <p class="col border text-light bg-dark p-2 mt-0-">
                            Posicionarnos en la región costa caribe como la mejor empresa de prestación de servicios de mantenimiento, montajes y diseño de proyectos, donde la calidad, el servicio y respeto por nuestros clientes sea el objetivo primordial para nuestra empresa, logrando
                            así que nos reconozcan como su primera opción en proyectos y mantenimiento
                        </p>

                    </div>

                </div>


                <h1 class="col border text-light bg-dark p-2 mb-0 text-center">OBJETIVOS</h1>
                <p class="col border text-light bg-dark p-2 mt-0-">
                    - Presentar innovación en el area de proyectos, prestando así el mejor y mas adecuado perfil para sus ideas y presupuesto
                    <br><br> - Ofrecer soluciones de mantenimiento preventivo y correctivo, ademas de servicios de instalación y preyectos en ingenieria
                    <br><br> - Certificar la satisfacción total del cliente, ofreciéndole un excelente servicio, y así lograr una consecución en los servicios prestados por nosotros
                    <br><br> - Propuestas económicas al alcance de nuestros clientes con la mejor calidad
                    <br><br> - Tiempo de respuesta oportuno a cualquiera de nuestros servicios
                    <br><br> - Trabajar bajo las normas de seguridad establecidas
                </p>

                <p class="col border text-light bg-dark p-2 mt-0-"> Convencidos que el trabajo en equipo, es la clave para solucionar cualquier eventualidad en la vida. Presentamos a ustedes una empresa que cuenta con un grupo de profesionales interdisciplinarios, con el equipo adecuado para prestar el
                    mejor servicio<br> Gestionamos con el mejor profesionalismo para que nuestros clientes encuentren soluciones integrales y un alto nivel de competencia en sus proyectos.
                </p>


            </div>


        </div>
    </div>
</nav>