<h1 class="text-center mx-5 bg-dark text-light mb-1">Servicios</h1>

<nav class="navbar navbar-expand-sm fondo m-0 py-0 px-0">
    <div class="container-fluid fondo m-0 p-0">
        <div class="container mx-auto">

            <p class="border bg-dark text-light my-1 p-2">
                Convencidos que el trabajo en equipo, es la clave para solucionar cualquier eventualidad en la vida. Presentamos a ustedes una empresa que cuenta con un grupo de profesionales interdisciplinarios, con el equipo adecuado para prestar el mejor servicio
            </p>


            <div class="row">


                <div class="col p-1 mx-1">
                    <div class="border bg-dark mb-1">
                        <img src="../../../assets/web-icono.png" alt="logo_web" width="55px" />
                        <span class="text-light px-2"> Desarrollo WEB</span><br />
                    </div>
                    <div class="border bg-dark text-light">
                        <p class="p-2">
                            Contamos con tecnicos en desarrollo web, front, back y fullstack (Angular, Python, .Net, entre otros) experimentados y en cintinuo aprendizaje en todo lo relacionado con apps y paginas web, teniendo siempre presente la seguridad de sus bases datos
                        </p>
                    </div>
                </div>

                <div class="col p-1 mx-1">
                    <div class="border bg-dark mb-1">
                        <img src="../../../assets/cctv-icono.png" alt="logo_cctv" width="55px" />
                        <span class="text-light px-2"> Seguridad electronica</span><br />
                    </div>
                    <div class="border bg-dark text-light">
                        <p class="p-2">
                            Estamos a la vanguardia de los circuitos cerrados de television, utilizando tecnologia de punta y en capacitacion constante de nuevas tecnologias y equipos, personal con experiencia en montajes y mantenimiento de equipos y accesorios.
                        </p>
                    </div>
                </div>


                <div class="col p-1 mx-1">
                    <div class="border bg-dark mb-1">
                        <img src="../../../assets/redes-icono.png" alt="logo_redes" width="55px" />
                        <span class="text-light px-2"> Redes de datos</span><br />
                    </div>
                    <div class="border bg-dark text-light">
                        <p class="p-2">
                            Sabemos que es la vida de su linea de produccion, por este motivo estamos a su dispocision los 365 dias del año, dispuestos a resolver sus necesidades ya sea en accesorios, repuestos y/o mantenimeintos, siempre hacia adelante.
                        </p>
                    </div>
                </div>

                <div class="col p-1 mx-1">
                    <div class="border bg-dark mb-1">
                        <img src="../../../assets/puerta-icono.png" width="55px" alt="logo_talanquera" />
                        <span class="text-light px-2">Puertas electrónicas</span><br>
                    </div>
                    <div class="border bg-dark text-light">
                        <p class="p-2">
                            Especialistas en proyectos de instalación, mantenimiento preventivo y correctivo, venta de repuestos y accesorios para puertas automáticas corredizas y batientes, ademas servicio de asesorias y capacitaciones sobre manejo y eficiencia de los equipos
                        </p>

                    </div>
                </div>



            </div>



        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-sm fondo m-0 py-0 px-0">
    <div class="container-fluid fondo m-0 p-0">
        <div class="container mx-auto">
            <div class="row">

                <div class="col p-1 mx-1">
                    <div class="border bg-dark mb-1">
                        <img src="../../../assets/electrico-icono.png" width="55px" alt="logo_electrico" />
                        <span class="text-light px-2"> Electricidad</span><br />
                    </div>
                    <div class="border bg-dark text-light">
                        <p class="p-2">
                            Montajes, certificaciones, mantenimientos, verificacion de cargas, entre otros son servicos necesarios para el buen funcionamiento de sus instalaciones electricas, desde redes domiciliarias a industriales y subestaciones.
                        </p>

                    </div>
                </div>

                <div class="col p-1 mx-1">
                    <div class="border bg-dark mb-1">
                        <img src="../../../assets/barrera-icono.png" width="55px" alt="logo_talanquera" />
                        <span class="text-light px-2"> Barrera de paso vehicular</span><br>
                    </div>
                    <div class="border bg-dark text-light">
                        <p class="p-2">
                            Capacitados en controles de acceso tenemos suministro e instalacion ademas de mantenimiento preventivo y correctivo de barreras de paso vehicular, ofrecemos servicos para las marcas mas conocidas, como Ditec, FAAC, BFT, entre otras
                        </p>

                    </div>
                </div>

                <div class="col p-1 mx-1">
                    <div class="border bg-dark mb-1">
                        <img src="../../../assets/ascensor-icono.png" width="55px" alt="logo_ascensor" />
                        <span class="text-light px-2"> Ascesores</span><br />
                    </div>
                    <div class="border bg-dark text-light">
                        <p class="p-2">
                            Servicios de montaje, mantenimientos preventivos, predictivos y correctivos de los diferentes modelos de ascesonres de carga, ya sea hidraulico o polipasto tenemos personal capacitado y con una amplia expxeriencia para sus servicios.
                        </p>
                    </div>
                </div>


                <div class="col p-1 mx-1">
                    <div class="border bg-dark mb-1">
                        <img src="../../../assets/refri-icono.png" alt="logo_refri" width="55px" />
                        <span class="text-light px-2"> Climatización</span><br />
                    </div>
                    <div class="border bg-dark text-light">
                        <p class="p-2">
                            Personal calificado en sistemas de climatización residencial e industrial, cadenas de frio, cuatros frios, aires acondicionados, tipo split, piso techo y central, tenemos para usted el mejor servicio en cuanto a calidad y economia que se ajusta a su presupuesto
                        </p>
                    </div>
                </div>











            </div>
        </div>
    </div>
</nav>